.container
  .section
    .card
      .card-header
        = fontawesome_icon('fas fa-tachometer-alt', 'Speed Test')
      .card-body.text-center
        %iframe{frameborder: '0', height: '650px', src: 'https://btspm.speedtestcustom.com', width: '100%'}

