.container
  .section
    .card
      .card-header
        = fontawesome_icon('fas fa-tachometer-alt', 'Speed Test')
      .card-body
        %iframe{frameborder: '0', src: 'https://btspm.speedtestcustom.com'}

