.py-3
  .alert.alert-info.text-center
    This website uses a free currency exchange service updated on top of the hour.
    Credits to:
    =link_to 'CurrencyConverterApi', 'http://currencyconverterapi.com/', target: '_blank', rel: 'noopener'

