%h4.my-4
  #exchange-header-block
    #from-currency-name= exchange_rate.from_currency.name
    .between-text to
    #to-currency-name= exchange_rate.to_currency.name
%hr
-#= render partial: 'exchange_details', locals: {exchange_rate: exchange_rate}


