.form-group.col-md-6
  = label_tag label
  .input-group.mb-3
    %input.form-control.input-currency{placeholder: label, id: input_selector}
    .input-group-append
      %span.input-group-text.font-weight-bold{id: addon_selector}
