.bg-black {
  background-color: #000 !important
}

.navbar-custom {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgba(0, 0, 0, .7)
}

.navbar-custom .navbar-brand {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .1rem;
  font-weight: 700
}

.navbar-custom .navbar-nav .nav-item .nav-link {
  text-transform: uppercase;
  font-size: .8rem;
  font-weight: 700;
  letter-spacing: .1rem
}

.input-currency {
  height: 4rem;
  font-size: 1.5rem;
}

.search-section {
  background-color: #1A5276;
  background-image: url("https://i.imgur.com/gRWuI0r.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}

#exchange-header-block {
  text-align:center;
  font-size: 2rem;
  .between-text {
    font-size: 1.25rem;
  }
  #from-currency-name, #to-currency-name, .between-text {
    display:inline;
  }
}

#exchange-rate-block{
  text-align:center;
  font-size: 1.5rem;
  #from-currency-code, #to-currency-code, .between-text, #exchange-rate {
    display:inline;
  }
}
