<div class="coordinates" style="display:none">
  <div class="destination_details">
    <span id="destination_latitude" data-destination="lat"> </span>
    <span id="destination_longitude" data-destination="lng"> </span>
    <span id="destination_locality" data-destination="locality"> </span>
    <span id="destination_state" data-destination="administrative_area_level_1"> </span>
    <span id="destination_postal_code" data-destination="postal_code"> </span>
    <span id="destination_country" data-destination="country"> </span>
  </div>

  <div class="origin_details">
    <span id="origin_latitude" data-origin="lat"> </span>
    <span id="origin_longitude" data-origin="lng"> </span>
    <span id="origin_locality" data-origin="locality"> </span>
    <span id="origin_state" data-origin="administrative_area_level_1"> </span>
    <span id="origin_postal_code" data-origin="postal_code"> </span>
    <span id="origin_country" data-origin="country"> </span>
  </div>
</div>