<div id="directions" style='width: 100%; height: 400px;'></div>

<script>
    maps.initDirectionMaps(
        '<%= request.origin.latitude %>',
        '<%= request.origin.longitude %>',
        '<%= request.destination.latitude %>',
        '<%= request.destination.longitude %>'
    );
</script>
