%nav.navbar.navbar-expand-lg.navbar-dark.navbar-custom.fixed-top
  .container
    = link_to fontawesome_icon('fas fa-coins', 'Currency Converter'), currencies_home_path, class: 'navbar-brand'
    %button.navbar-toggler{'aria-controls': 'navbarResponsive', 'aria-expanded': 'false', 'aria-label': 'Toggle navigation', 'data-target': '#navbarResponsive', 'data-toggle': 'collapse', type: 'button'}
      %span.navbar-toggler-icon