<div class="jumbotron">
  <div class="row">
    <div class="container text-center ">
      <h1><i class="fas fa-taxi"></i> Fare Estimate Online</h1>
      <h3>Instantly Calculate the Cost of a Ride!</h3>

      <hr>

      <div id="coordinates_search" class="container w-50">
        <%= render partial: 'coordinates_search' %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div id="price_estimates">
    <!--  Place Holder-->
  </div>
</div>

<div class="row margin-bottom-40">
  <div class="col-md-12 col-sm-12 text-center">
    <div style="border-top:1px solid #c9ecf3; padding:10px 0; background-color:#f5f9fa;">
      <h2><strong>Learn more about your Internet traffics</strong></h2>
    </div>
  </div>
  <div class="col-md-12 col-sm-12">
    <div class="card card-info">
      <div class="card-body">
        <div class="row">
          <div class="col-md-8">
            <div class="row margin-bottom-20">
              <div class="col-md-4">
                <label>Your IP Address</label>
                <div id="ip-address" loaded="true">71.232.210.222</div>
              </div>

              <div class="col-md-8">
                <label>ISP</label>
                <div id="isp">Comcast Cable Communications LLC</div>
              </div>
            </div>

            <div class="row margin-bottom-20">
              <div class="col-md-4">
                <label>Country</label>
                <div id="country">United States</div>
              </div>
              <div class="col-md-4">
                <label>Coordinates</label>
                <div id="coordinates">42.99564, -71.45479</div>
              </div>
              <div class="col-md-4">
                <label>Time Zone</label>
                <div id="time-zone">-04:00</div>
              </div>
            </div>


            <div class="row margin-bottom-20">
              <div class="col-md-4">
                <label>Region</label>
                <div id="region-name">New Hampshire</div>
              </div>

              <div class="col-md-4">
                <label>Usage Type</label>
                <div id="usage-type">ISP</div>
              </div>
              <div class="col-md-4">
                <label>Net Speed</label>
                <div id="net-speed">DSL</div>
              </div>
            </div>


            <div class="row margin-bottom-20">

              <div class="col-md-4">
                <label>City</label>
                <div id="city-name">Manchester</div>
              </div>
              <div class="col-md-4">
                <label>Domain</label>
                <div id="domain">comcast.net</div>
              </div>
              <div class="col-md-4">
                <label>IDD &amp; Area Code</label>
                <div id="idd-area-code">+(1) 603</div>
              </div>

            </div>


            <div class="row margin-bottom-20">

              <div class="col-md-4">
                <label>ZIP Code</label>
                <div id="zip-code">03101</div>
              </div>
              <div class="col-md-4">
                <label>Elevation</label>
                <div id="elevation">77 m</div>
              </div>
              <div class="col-md-4">
                <label>Weather Station</label>
                <div id="weather-station">Manchester (USNH0136)</div>
              </div>
            </div>
          </div>

          <div class="col-md-4" style="vertical-align:middle; padding-top:8%;">
            <h3>Try IP2Location Demo</h3>
            <form action="/demo" method="post" class="form-inline">
              <div class="form-group">
                <label>
                  <input type="text" name="ipAddress" value="71.232.210.222" placeholder="Enter IP Address..." class="form-control" aria-label="Enter IP Address...">
                </label>
                <button class="btn btn-primary"><i class="fa fa-search"></i> Look Up</button>
              </div>
              <div class="margin-top-10">
                Try out the demo to get the comprehensive geolocation data of an IP address.
                Supports both IPv4 and IPv6 address lookup.
              </div>
              <input type="hidden" name="_NoCSRF_RTCYJzsdgx" value="QXZPa1pGUnlEQ3NoNGFTYzNkWDRkQk05MkttakRTN01iMzE3M2I3NGNjMTExNTM5YWRlMzE0NDQ4MWRkMDMzMzE1NTk4MDUzOTA=">										</form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'information' %>